# Ignore everything
*

!.gitignore
!.config/
!.config/starship.toml

# Ghostty
!.config/ghostty
!.config/ghostty/**

# HyprLand
!.config/hypr/
!.config/hypr/**

# Noctalia v5
!.local/
!.local/state
!.local/state/noctalia/
!.local/state/noctalia/**
